fastapi
uvicorn
sqlalchemy
python-dotenv
python-jose
passlib
bcrypt
pyodbc
mediapipe
opencv-python
numpy
python-dateutil
python-multipart
deepl
torch
pyctcdecode
pandas
pytz
tqdm
transformers
sentence-transformers
ollama
tensorflow